<!DOCTYPE html>


<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"
        <title>FastAPI na Geek University Seção 3</title>
        <meta name="description" content=""
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                background:  rgb(113, 141, 113);
            }
        </style>
    </head>
    <body>
        <h1>
        fastAPI Web
        </h1>
        <div>
            <a href="/">Home</a>
            <a href="/servicos">Serviços</a>
        </div>
        <div class="container">
            <center>
                <h1>fastAPI na <u>Geek University</u></h1>
                <span>     <a href="https://www.geekuniversity.com.br" target="_blank" > aqui</a> </span>
                <div>Usuário: {{ usuario }}</div>
                <p>Estamos na página index</p>
            </center>
        </div>
    </body>
</html>